<ion-header>
  <ion-toolbar color ="medium">
    <ion-title>Título</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>Página criada com Grid Layout</ion-col>
         <ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>1 e 2</ion-col>
            <ion-col>2 e 2</ion-col>
         <ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>1 e 3</ion-col>
            <ion-col>2 e 3</ion-col>
            <ion-col>3 e 3</ion-col>
         <ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>1 e 4</ion-col>
            <ion-col>2 e 4</ion-col>
            <ion-col>3 e 4</ion-col>
            <ion-col>4 e 4</ion-col>
         <ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>1 e 4</ion-col>
            <ion-col>2 e 4</ion-col>
            <ion-col>3 e 4</ion-col>
            <ion-col>4 e 4</ion-col>
            <ion-col>5 e 5</ion-col>
         <ion-row>
    </ion-grid>
</ion-content>
